.root {
    -fx-menupurple: #87255B;
    -fx-menuhoverpurple: #c83887;
    -fx-drinkboxblue: #add8e6;
    -fx-drinkbtnblue: #6fbbd3;
    -fx-drinkbtnhoverblue: #389ab9
}

.hbox {
    -fx-pref-height:60px;
}

#menuLabel {
    -fx-text-fill:white;
}

#header, #toolbar {
    -fx-background-color: -fx-menupurple;

}
#menubutton {
    -fx-background-color: transparent;
    -fx-background-radius:0;
    -fx-pref-height:50px;
    -fx-padding:21.5px;
    -fx-text-fill: white;
}

#menubutton:hover {
    -fx-background-color: -fx-menuhoverpurple;
    -fx-cursor:hand;
}

.drinkBox {
    -fx-background-color: -fx-drinkboxblue;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-padding: 10px;
}

.drinkBtn{
    -fx-background-color: -fx-drinkbtnblue;
    -fx-border-radius: 2px;
    -fx-border-color: black;

    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

}

.drinkBtn:hover{
    -fx-background-color: -fx-drinkbtnhoverblue;
    -fx-cursor: hand;
}

#fillerBox{
    -pref-height:50px;
    
}
